body .splash div {
  position: static;
  float: none;
  /* changed height to auto from 400px
  This ensure that when the browser is resized, the name and profile picutre
  always has the proper background behind them */
  height: 100%;
  width: 100%;
  background-color: olivedrab;
  text-align: center;
  background-image: url("/images/crissxcross.png");
}

body .splash h2 {
  margin: 0px;
  padding-bottom: 1em;
  font-family: "Source Sans Pro", "Sans Serif";
  color: black

}

/* On this one page website, header.css functionaly sits above new-tweet.css */

