/* Element that references the background color and transparent image of
the header/splash area */
body .splash div {
  position: static;
  height: 100%;
  width: 100%;
  background-color: olivedrab;
  text-align: center;
  background-image: url("/images/crissxcross.png");
}

/* Element that displays the users name ('Your Name') */
body .splash h2 {
  margin: 0px;
  padding-bottom: 1em;
  font-family: "Source Sans Pro", "Sans Serif";
  color: black

}

/* On this one page website, header.css functionaly sits above new-tweet.css */

