
nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 120px;
  width: 100vw;
  z-index: 99;
  color: #FFFFFF;
  background-color: olivedrab;
  background-image: url("/images/crissxcross.png");
  padding: 1.5em;
  font-family: "Source Sans Pro", "Sans Serif";
}
/* Tweeter logo on the top left */
 
nav span {
  float: left;
  margin-left: 8px;
  position: relative;
  font-family: Bungee, "Sans Serif";
  font-size: 44px;
}
/* "Write a new tweet" on the top right */
/* Uses flex to display the text and picture in a column */
nav .write {
  flex-wrap: nowrap;
  margin-bottom: auto;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  flex-direction: column;
  font-family: "Source Sans Pro", "Sans Serif";
  font-size: 32px;
}
/* if I needed to add more buttons, could theoretically add them here and run */
/* another flex grid to style them */
nav .write img {
  align-self: center;
  max-width: 18%;
}
/* Turns the curser into a pointer when hovering over the button to make a new tweet */
nav .write img:hover {
  cursor: pointer;
}


/* MAKE SURE THIS IS SET TO 1024 PIXELS, ANY OTHER VALUE IS FOR TESTING */
@media only screen and (min-width:1024px) {

  nav {
    background-color: #4056a1;
    background-image: unset;
  }
}