/* Only contains the logo for now */
nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  float: top;
  height: 120px;
  max-height: auto;
  width: 100vw;
  z-index: 99; /* Set to 99 as it should alays be on top */
  color: #FFFFFF;
  background-color: #4056a1;
  padding: 1.5em;
  font-family: "Source Sans Pro", "Sans Serif";
}
/* Tweeter logo on the top left */
nav span {
  float: left;
  margin-left: 8px;
  position: relative;
  font-family: Bungee, "Sans Serif";
  font-size: 44px;
}
/* "Write a new tweet" on the top right */
/* Uses flex to display the text and picture in a column */
nav .write {
  flex-wrap: nowrap;
  margin-bottom: auto;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  flex-direction: column;
  font-family: "Source Sans Pro", "Sans Serif";
  font-size: 32px;
  /* The below position prevents the text from being pushed down and potentially
  un-allinging the profile picture */
  /* position: absolute; */
}
/* if I needed to add more buttons, could theoretically add them here and run */
/* another flex grid to style them */
nav .write img {
  align-self: center;
  max-width: 18%;
  max-height: auto;
}

nav .write img:hover {
  cursor: pointer;
}