/* Sits underneath the header, header position is set to static */

.new-tweet {
  position: relative;
  padding: 3vh 5vw;
  text-align: center;
}

.new-tweet div p{
  position: relative;
  border: thick dotted red;
  margin: inherit;
  padding: 1em;
  color: black;
}

.new-tweet textarea {
  padding: inherit;
  width: 100%;
  border-width: thick;
  border-bottom-color: gray;
  background-color: inherit;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  resize: none;
}

.new-tweet form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}

/* Only includes/affects the "TWEET" button */
.new-tweet input {
  float: left;
  font-family: Bungee, 'Sans Serif';
  color: whitesmoke;
  background-color: #4152a1;
  border: transparent;
}
 /* Only includes/affects the character limit counts */
.new-tweet span {
  float: right;
  color: gray;
  font-family: Bungee, "Sans Serif";
}
